
body {
  background-color: #282828;
  color: #EBDBB2;
}
h1 {
  color: #FB4934;
}
h2, h4 {
  color: #FB4934;
}
h3 {
  color: #B8BB26;
}
p {
  color: #EBDBB2;
}
a {
  color: #B8BB26;

}
